.container{
 margin-top:90px;
}

.costum-input{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    border: none;
    border-bottom: 1px solid rgb(244, 190, 97);
    margin-right: 15px;
    outline:none;
  }
  .searchImg{
    width:400px;
    height:300px;
    position: relative;
    left:450px;
  }