/* .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   

}

@media (max-width: 768px) {
    .content-filter {
      display: flex;
      max-width: 768px;
     

    }  
} */